<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380114605401-d0qt9ur9rlml9idjpm93b4c0f1kleob8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380114605401-d0qt9ur9rlml9idjpm93b4c0f1kleob8</string>
	<key>API_KEY</key>
	<string>AIzaSyBqTAUGeA3KFwIQ60hZAr6mp4SdEdWJrO4</string>
	<key>GCM_SENDER_ID</key>
	<string>380114605401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devcat37.cryptosignals</string>
	<key>PROJECT_ID</key>
	<string>crypto-signals-7a8bb</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-signals-7a8bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380114605401:ios:083f275d1248e2e1a42848</string>
</dict>
</plist>